.notes-list {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 45%;

    text-align: center;
}

.nav-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.navbar-brand {
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}

.logo svg {
    margin: auto 15px auto 0;
}

.logo h1 {
    margin: 0;
}

.container {
    display: flex;
}

.button-to-main {
    margin-left: 12px;
}

.container-fluid h2 {
    margin: 30px 0;
}

.container-top {
    flex-direction: row;
    justify-content: space-between;
}

.container-top-left, .container-top-right {
    flex-direction: column;
}

.container-top-right {
    align-items: flex-end;
}

.container-top-right button {
    width: fit-content;
}

.note-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 25px;
    border: 1mm groove cyan;
    border-radius: 10px;

    font-size: 20px;
    line-height: 150%;
}

.note-item h2 {
    margin-top: 0;
}

.note-text {
    margin-bottom: 20px;
}

.note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 250px;
    padding: 25px;

    border-radius: 30px;
}

.note-form h2 {
    margin-bottom: 35px;
}

.note-form-title, .note-form-text {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;

    font-size: 20px;
}

.note-form-elements {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.note-form-elements button{
    display: flex;
    width: fit-content;
    justify-content: center;
}

.form-label {
    margin-top: 10px;
}

.note-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.all-notes {
    display: flex;
    border: 1px solid blue;
}

.single-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 100px auto;
    padding: 35px;

    border-radius: 50px;

    font-size: 20px;
    line-height: 150%;

}

.style-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
}

.border-blue {
    border: thick double blue;
}

.border-green {
    border: thick double green;
}

.border-gray {
    border: thick double #6c757d;
}

.ck-editor__editable {
    min-height: 200px;
    background-color: black;
}

.ck {
    background-color: black;
}
